<!DOCTYPE html>
<html lang="ja">
  
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="homes.scss">
    <title>WebCampBackendNew</title>
  </head>

<body>
<h1>ここはBookers Index</h1>


<h1>Books</h1>

<% @books.each do |book| %>

<h1>New book</h1>
<!-- form_with部分 -->
<%= form_with model: Book.create do |f| %>

<h4>Title</h4>
<%= f.text_field :title %>
	
<h4>Body</h4>
<%= f.text_area :body %>
	
<%= f.submit 'Create Book' %>
<% end %>
</body>
</html>
